@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h4>Address</h4>

<address>
    Wouldn't you like to know<br />
    Somewhere, USA<br />
    @*<abbr title="Phone">P:</abbr>*@
    555.666.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@cheapo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@cheapo.com</a>
</address>