@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>CHEAPO DISCOUNT CAR INSURANCE</h1>
    <p class="lead">Super-easy car insurance, super-cheap.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            Enter your information for a personalized quote.
        </p>
        <p><a class="btn btn-default" href="~/Insuree/Create">Quote me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch with us</h2>
        <p>Questions, comments, complaints, concerns?<br />  We love feedback!</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Say something &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>